In [1]:
import pandas as pd

In [5]:
inpatient_1 = pd.read_csv("Data/Train_Inpatientdata-1542865627584.csv")
inpatient_2 = pd.read_csv("Data/Test_Inpatientdata-1542969243754.csv")

inpatient_data = pd.concat([inpatient_1, inpatient_2])
inpatient_data = inpatient_data[[i for i in inpatient_data.columns if 'ClmDiagnosisCode' in i 
                or 'ClmAdmitDiagnosisCode' in i]]

inpatient_data.head()

,ClmAdmitDiagnosisCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10
0,7866,1970,4019,5853,7843,2768,71590,2724,19889,5849,NaN
1,6186,6186,2948,56400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29590,29623,30390,71690,34590,V1581,32723,NaN,NaN,NaN,NaN
3,431,43491,2762,7843,32723,V1041,4254,25062,40390,4019,NaN
4,78321,042,3051,34400,5856,42732,486,5119,29620,20300,NaN

In [17]:
# Get all the icd 9 codes
icd_9_codes = pd.melt(inpatient_data, value_vars = 
                      inpatient_data.columns).drop("variable", axis=1)

# Drop Null counts
icd_9_codes.dropna(inplace = True)
print("Null Counts:", icd_9_codes.isna().sum())
display(icd_9_codes.head())

Null Counts: value    0
dtype: int64

   value
0   7866
1   6186
2  29590
3    431
4  78321

value    95953
dtype: int64